article{
    padding: 0.6em 0.6em 0.6em 0.6em;
    background-color: #ececec;
    display: flex;
    justify-content: center;
}

#link{
    color: blue;
    text-decoration: underline;
}

#article01{
    max-width: 800px;
    width: 100%;
}

.judul{
    display: flex;
    align-items: center;
    border-bottom: solid 0.15em #000;
}

.judul > h1{
    padding-left: 0.3em;
}

.langkah01 img{
    max-width: 100%;
    border-radius: 0.3em;
    filter: drop-shadow(0em 0em 0.2em #00000031);
    margin-top: 0.3em;
    max-height: 37em;
}

.langkah01 .divImage{
    display: flex;
    justify-content: center;
}

ol{
    padding-left: 0em;
    list-style: none;
}

.langkah01 > ol > li{
    margin-left: 1em;
    background-color: #e7e7e7;
    padding: 0.7em 1em 1em 1em;
    border-radius: 0.3em;
    filter: drop-shadow(0em 0em 0.2em #00000031);
    margin-top: 1em;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Agar p tidak keluar dari li saat animasi */
    transition: background-color 0.8s ease; /* Animasi untuk perubahan padding dan background */
}

.langkah01 > ol > li p{ 
    max-height: 0; /* Dimulai dari height 0 */
    opacity: 0;
    transform: translateY(4Sem);
    transition: opacity 0.8s ease, transform 0.8s ease, max-height 0.8s ease, padding 0.8s ease; /* Animasi max-height */
    margin: 0;
}

.langkah01 > ol > li > ul > li{
    opacity: 0;
    transition: opacity 0.8s ease;
}

.langkah01 > ol > li:hover{
    background-color: rgb(226, 226, 226); /* Background berubah saat hover */
}

.langkah01 > ol > li:hover p{
    max-height: 8em; /* Atur sesuai tinggi maksimal dari teks */
    opacity: 1;
    transform: translateY(0em);
}
.langkah01 > ol > li:hover .terminal{
    padding: 0.4em;
    padding-left: 0.6em;
}
.langkah01 > ol > li:hover #p{
    opacity: 1;
    transform: translateY(0em);
}
.langkah01 > ol > li:hover ul > li{
    opacity: 1;
}


.terminal{
    opacity: 0;
    transform: translateY(4Sem);
    transition: opacity 0.8s ease, transform 0.8s ease, padding 0.8s ease, padding-left 1.5s ease;
    padding: 0em;
    padding-left: 0;
    border-radius: 0.4em;
    color: rgb(231, 231, 231);
    background-color: #474747;
}